<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <title>Pet Display</title>
</head>

<body>
<h1> Lost Pest, Inc</h1>
<br />
<div class="container">
    <div th:fragment="navbar" class="navbar  navbar-light bg-faded">
        <div class="navbar-brand">

            <a class="navbar brand" href="/">Display all Pets</a>
            <div class="nav-collapse collapse">

                    <br />
                    <div class="col-md-3"><a href="/add">Add a New Pet</a></div>

            </div>

        </div>
    </div>
    <br />
    <a href="/add">Add a New Pet</a>
    <hr />

    <label>Pet Name:</label> <span th:text="${pet.name}"></span> <br />

    <label>Pet Age:</label> <span th:text="${pet.age}"></span> <br />

    <label>Pet Type :</label> <span th:text="${pet.type}"></span> <br />

    <label>Pet Breed (if applicable):</label><span th:text="${pet.breed}"></span><br />

    <label>Pet Color :</label> <span th:text="${pet.color}"></span> <br />

    <label>Special Features (if any):</label><span th:text="${pet.specialFeatures}"></span> <br />

    <label>Current Status:</label> <span th:text="${pet.currentStatus}"></span> <br />
    <br />
    <hr />


    <a th:href="@{/delete/{id} (id=${pet.id})}"> Delete this Pet</a><br />

    <br />
    <hr />
    <div class="vl"></div>
</div>

    <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
</body>
</html>